.App {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.SettingsManagerWrapper {
  flex : 1;
  margin: 15px;
}

.BoardWrapper {
  height: 100%;
  flex : 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
